doctype html
html
    head
        title The HP Printer & Scanner
        style.
            body {
                background: #f2f2f2;
                font: 14pt serif;
                text-align: center;
            }
            a {
                border: none;
                border-radius: 5px;
                display: block;
                font: larger serif;
                padding: 0.1em 0.5em;
                text-align: left;
                text-decoration: none;
                width: 85%;
            }
            a:hover {
                background: #3cb371;
                color: #ffffff;
            }
            a.brs {
                background: #b22222;
                color: white;
                display: inline;
            }
            img.icon {
                margin: 5px;
                width: 32px;
            }
            img.scan {
                max-width: 600px;
            }
            p.error {
                color: red;
                font-style: italics;
                font-weight: bold;
                margin-bottom: 0.25em;
                margin-top: 0.5em;
            }
            span.type {
                color: green;
                font-size: smaller;
                font-weight: bold;
            }
            table {
                border-collapse: collapse;
                width: 100%;
            }
            td {
                text-align: left;
                vertical-align: top;
            }
            th {text-align: left;}
    body
        table
            tr
                td
                    table
                        tr
                            th
                                img.icon(src='/images/lnasto-Scanner-ln-800px.png')
                                | Scanner
                            th
                        tr
                            td
                                a(href='/pi/scan') Scan a document
                            td
                        tr
                            td
                                a(href='/pi/scan/image') Scan and download a picture
                            td
                        tr
                            td
                                a.reset(href='/pi/scan/reset') Not working? Click here to reset
                            td
                        tr
                            td
                                hr
                            td
                                hr
                        tr
                            th
                                img.icon(src='/images/openclipart-on-printer-800px.png')
                                | Printer
                            th
                        tr
                            td
                                a(href='/pi/print') Cancel print jobs
                            td
                                | Ink cartridges: 61 or 61#[span.type XL]
                        tr
                            td
                                a(href='/pi/print') Manage the printer
                            td
                                small The black and color cartridges use the same number.
                        tr
                            td
                                a.reset(href='/pi/print/reset') Not working? Click here to reset
                            td
                        tr
                            td
                                hr
                            td
                                hr
                        tr
                            td
                                p.error !{error}
                            td
                        tr
                            td
                                hr
                            td
                                hr
                        tr
                            td
                                img.icon(src='/images/TzeenieWheenie-Power-On-Off-Switch-red-2-800px.png')
                                a.brs(href='/pi/reset') BIG RED SWITCH
                            td
                                small When all else fails, click here
                td
                    if image
                        img.scan(src=image)
